Arc 02/my_tar/tfile
.gitignore
Arc 02/my_tar/.gitignore
Arc 02/my_tar/tfileinfo
Arc 02/my_tar/tar1.tar
Arc 02/my_tar/tar1.output
Arc 02/my_tar/test-3.txt
Arc 02/my_tar/links.tar
Arc 02/my_tar/tar-test
Arc 02/my_tar/tar-test2.txt
Arc 02/my_tar/test_folder/directories
Arc 02/my_tar/test_folder/directories copy.c
Arc 02/my_tar/tar-file-test
Arc 02/my_tar/folder.tar
Arc 02/my_tar/link2.tar
