Arc 02/my_tar/tfile
.gitignore
Arc 02/my_tar/.gitignore
Arc 02/my_tar/tfileinfo
Arc 02/my_tar/tar1.tar
Arc 02/my_tar/tar1.output
Arc 02/my_tar/test-3.txt
Arc 02/my_tar/links.tar
Arc 02/my_tar/tar-test
Arc 02/my_tar/tar-test2.txt
Arc 02/my_tar/test_folder/directories
Arc 02/my_tar/test_folder/directories copy.c
Arc 02/my_tar/tar-file-test
Arc 02/my_tar/folder.tar
Arc 02/my_tar/link2.tar
Arc 02/my_tar/test_folder2/a.txt
Arc 02/my_tar/test_folder2/directories
Arc 02/my_tar/test_folder2/directories copy.c
Arc 02/my_tar/test_folder2/test.txt
Arc 02/my_tar/test_folder2/test2.txt
Arc 02/my_tar/test_folder2/inner_folder/test-3.txt
Arc 02/my_tar/test_folder2/inner_folder/inner_folder2/test-4.txt
Arc 02/my_tar/link2.txt
Arc 02/my_tar/read_struct
Arc 02/my_tar/tar-test22.txt
Arc 02/my_tar/create
Arc 02/my_tar/oct2dectest.c
Arc 02/my_tar/test_folder_copy/a.txt
Arc 02/my_tar/test_folder_copy/test.txt
Arc 02/my_tar/test_folder_copy/test2.txt
Arc 02/my_tar/directories
